<a href="https://colab.research.google.com/github/rajdepot/probnstats/blob/main/Stats_21_june_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
from scipy import stats
# Commute times for Day 1 and Day 2

day_1 = np.array([27, 43, 34, 24, 31, 46, 44, 42, 32, 49, 16, 23, 18, 42, 23, 53, 54, 32, 30, 49, 44, 38, 29, 42, 38, 23, 29, 19, 15, 22, 39, 38])

day_2 = np.array([23, 42, 39, 23, 37, 53, 44, 38, 30, 50, 12, 18, 24, 47, 26, 54, 58, 33, 34, 41, 41, 32, 32, 38, 31, 18, 23, 19, 17, 24, 43, 31])

# Calculate the differences differences = day_1 - day_2 # Perform the paired t-test
t_statistic, p_value = stats.ttest_rel(day_1, day_2)
t_statistic, p_value

(0.5198926783952246, 0.6068313271031527)

In [4]:
import numpy as np
from scipy import stats
# Commute times for Team 1 and Team 2
team_1 = np.array([27,43,34,24,31,46,44,42,32,49,16,23,18,42,23,53,54,32,30,49,44,38,29,42,38,23,29,19,15,22,39,38])
team_2 = np.array([18,27,64,61,13,33,37,44,58,61,21,31,20,56,52,49,56,40,43,42,58,36,34,57,50,24,64,19,35,59,49,29])
# Perform the unpaired t-test
t_statistic, p_value = stats.ttest_ind(team_1, team_2, equal_var=False)
t_statistic, p_value

(-2.3489766657621147, 0.02235751696827402)

In [6]:
## q1
import numpy as np
from scipy import stats

# Heights for Group A and Group B
group_a = np.array([160, 162, 165, 170, 175, 160, 158, 167, 169, 173, 166, 174, 171, 172, 160, 163, 161, 168, 164, 159])
group_b = np.array([150, 155, 157, 160, 165, 168, 170, 172, 175, 177, 180, 182, 185, 187, 160, 162, 164, 166, 169, 171])

# Perform the unpaired t-test

t_statistic, p_value = stats.ttest_ind(group_a, group_b, equal_var=False)
t_statistic, p_value

(-1.1292062393725029, 0.2680311673677942)